In [1]:
# Import libraries

import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [2]:
# Load dataset for Bangalore

b = pd.read_csv('../CSV Files/Processed.csv')

In [3]:
# Import MinMaxScaler and Train Test Split

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [4]:
b.head()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,Clusters
0,30000000,3340,4,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,7888000,1045,2,0,0,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,1
2,8358000,1675,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,6845000,1670,3,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,6797000,1220,2,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Import XGBRegressor and GridSearchCV

from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV

In [6]:
# Create an instance of XGBRegressor and MinMaxScaler

scaler = MinMaxScaler()
xgb = XGBRegressor()

parameters = {
    'max_depth': range(2, 10, 1),
    'n_estimators': range(60, 220, 40),
    'learning_rate': [0.1, 0.01, 0.05]
}

cv = GridSearchCV(estimator = xgb, param_grid= parameters)

In [7]:
# Set X and y variable for each city

X = b.drop('Price',axis = 1)
y = b['Price']
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
    
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
# Fit X and y training variables to the model

cv.fit(X_train,y_train)

GridSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    enable_categorical=False, gamma=None,
                                    gpu_id=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=None,
                                    num_parallel_tree=None, predictor=None,
                                    random_state=None, reg_alpha=None,
                                    reg_lambda=None, scale_pos_weight=None,
                                    subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             param_grid={'learning_rate': [0.1, 0.01, 0.05],
                         'max_depth': range(2, 10),
                         'n_estimators': range(60, 220, 40)})

In [9]:
# Print the best parameters

print(cv.best_params_)

{'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 180}

In [10]:
pred = cv.predict(X_test)

In [11]:
# Print results

print(f"Mean Squared Error: {mean_squared_error(y_test,pred)}")
print(f"Mean Absolute Error: {mean_absolute_error(y_test,pred)}")
print(f"Root Mean Squared Error: {np.sqrt(mean_squared_error(y_test,pred))}")
print(f"R2 Score: {(r2_score(y_test,pred)*100):.2f}")

Mean Squared Error: 11194482606932.627
Mean Absolute Error: 1086091.242506812
Root Mean Squared Error: 3345815.686336088
R2 Score: 92.66